html, body {
  margin: 0;
}

header {
  padding: 6em 0;
  background: url("https://images.unsplash.com/photo-1541919635-250e08fbdd21?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  text-align: center;
}

nav {
  background: #445;
}

nav ul {
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

nav li a {
  padding: 1em;
  color: #eee;
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  padding: 1em;
  border: 1px solid #ddd;
  width: 48%;
  margin-bottom: 1%;
}

footer {
  background: #444;
  color: #fff;
  padding: 1em;
  text-align: center;
}